<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Iadm" messageEncoding="Mtom" maxReceivedMessageSize="10000000">
          <readerQuotas maxArrayLength="10000000" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.99.3/lab/svlab.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_Iadm" contract="lab.Iadm"
                name="WSHttpBinding_Iadm" />
    </client>
  </system.serviceModel>
</configuration>