<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Iadm" messageEncoding="Mtom" maxReceivedMessageSize="5000000">
                  <readerQuotas maxArrayLength="5000000"/>
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/lab/svlab.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_Iadm" contract="lab.Iadm"
                name="WSHttpBinding_Iadm" />
        </client>
    </system.serviceModel>
</configuration>