<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Iadm" maxReceivedMessageSize="1000000000"
          messageEncoding="Mtom">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.137.1/lik/svlab.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_Iadm" contract="lik.Iadm"
        name="WSHttpBinding_Iadm" />
    </client>
  </system.serviceModel>
</configuration>