<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp" messageEncoding="Mtom"
                 maxReceivedMessageSize="10000000">
          <readerQuotas maxArrayLength="10000000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="mexBehavior"
               name="SvApp.SrvcApp">
        <endpoint address="http://192.168.99.3/lab/svlab.svc"
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttp"
                  contract="SvApp.Iadm" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.99.3:80"/>
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>

</configuration>

